<% setI18nPrefix('pages.template') %>
<meta name="description" content="<%- $t('meta', true) %>" />
<link rel="stylesheet" href="<%=md5('/css/pages/template.css')%>">
<%- contentFor('title') %>
  <%- $t('title') %>
<%- contentFor('body') %>
<div class="single-page page-insurance">
    <article class="page-header">
        <section class="page-header__container">
            <header>
                <div class="page-header__description">  We've got you covered</div>
                <h1 class="page-header__heading--style ">Client Funds Insurance</h1>
            </header>
            <div class="page-header__description mb-3">Benefit from the Client Funds Insurance of IC Markets. </div>
            <div class="h-200">
            </div>
        </section>
    </article>

    <article class="page-content-container">
        <div class="page-content pb-0-lg">
            <div class="page-section text-desc p3-lg">
                <div class="text-head-xs mb-0 text-center">IC Markets clients funds are insured up to US$1,000,000 per client. </div>
                <p class="p-3-xs mt-2">IC Markets believes in offering beyond the industry requirements by offering exclusive clients’ funds insurance coverage to all of its clients. </p>
            </div>
        </div>
        <div class="p-20">
            <div class="page-section pt-0 text-left p3-lg">
                <div class="glossary-block pt-0 ">

                        <div class="glossary-block__item" key="insurance_1">
                            <div class="glossary-accordion">
                                <div class="accordion-toggle glossary-block__expand-button collapsed" data-toggle="collapse" data-parent=".accordion" data-target="insurance_1">What is Client Funds Insurance?</div>
                                <div id="insurance_1" class="panel-collapse collapse" style="display: none;">
                                    <div class="panel-content">

                                        <div class="p-2"> As IC Markets understands that the trading industry is unpredictable, it has ensured a level of protection to its clients. In the extreme unlikely event of the business being declared insolvent and where there is a shortfall in segregated customer assets, the IC Markets Clients’ Funds Insurance will cover any outstanding amounts up to US$1,000,000.
                                           <br> <br><b>The Clients’ Funds Insurance includes:</b><ul><li>Available Balance</li> <li>	CFD position</li>
                                       </ul><span>For more detail, please read our <a id="template_insurance_certificate" href="https://cdn.icmarkets.com/uploads/FSA/Evidence-of-Insurance-Certificate.pdf" target="_blank">Insurance Certificate</a>.</span>  </div>  <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="glossary-block__item mt-1" key="insurance_2">
                            <div class="glossary-accordion">
                                <div class="accordion-toggle glossary-block__expand-button collapsed" data-toggle="collapse" data-parent=".accordion" data-target="insurance_2">What does the insurance include?</div>
                                <div id="insurance_2" class="panel-collapse collapse" style="display: none;">
                                    <div class="panel-content">
                                        <p class="p-2">The insurance covers available balance and CFD positions.</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="glossary-block__item mt-1" key="insurance_3">
                            <div class="glossary-accordion">
                                <div class="accordion-toggle glossary-block__expand-button collapsed" data-toggle="collapse" data-parent=".accordion" data-target="insurance_2">Who can benefit from this?</div>
                                <div id="insurance_3" class="panel-collapse collapse" style="display: none;">
                                    <div class="panel-content">
                                        <p class="p-2">All clients of IC Markets Global are covered by the Clients’ Funds Insurance.</p></div>
                                </div>
                            </div>
                        </div>
                  </div>


            </div>
        </div>

        <div class="page-content pt-0-lg">
            <div class="section-four p3-lgx">
                <div class="page-section text-desc">
                    <div class="text-head-cu text-center ">IC Markets offers <b>additional protection</b></div>
                </div>

                <div class="page-section grid-section-50 mt-4">
                    <div class="c-card lg mt-0-xs  h250">
                        <div class="c-card-content mt-2  ">
                            <img class=" h86" src="/assets/img/insurance/segregated.png" alt="">
                            <div class="mt-2">
                            <div class="c-card-title f-21  " ><b>Segregated Account</b></div>
                            <div class="c-card-title ">
                                <div class="text-desc mt-1">IC Markets primary responsibility is to ensure that its clients funds are safe and secure. We then keep all client funds in a separate, segregated account. Meaning that in the highly unlikely event of IC Markets insolvency, your funds will be safe.  </div>
                            </div></div>
                        </div>
                    </div>
                    <div class="c-card lg mt-0-xs  h250">
                        <div class="c-card-content mt-2  ">
                            <img class=" h86" src="/assets/img/insurance/audit.png" alt="">
                            <div class="mt-2">
                            <div class="c-card-title f-21" ><b>Audit</b></div>
                            <div class="c-card-title ">
                                <div class="text-desc mt-1 ">IC Markets has in place an independent, external auditor to supplement our operational processes and ensure regulatory compliance.  </div>
                            </div></div>
                        </div>
                    </div>
                    <div class="c-card lg mt-0-xs  h250">
                        <div class="c-card-content mt-2 ">
                            <img class=" h86" src="/assets/img/insurance/confidentiality.png" alt="">
                            <div class="mt-2">
                            <div class="c-card-title f-21" ><b>Confidentiality</b></div>
                            <div class="c-card-title ">
                                <div class="text-desc mt-1 ">IC Markets maintains appropriate controls and monitors the transfer of confidential and sensitive client information within and outside the Company on a need-to-know basis. IC Markets does not deliberately disclose client information unless this is upon request of the client, or as required to do so by law.  </div>
                            </div></div>
                        </div>
                    </div>
                    <div class="c-card lg mt-0-xs  h250">
                        <div class="c-card-content mt-2 ">
                            <img class=" h86" src="/assets/img/insurance/service.png" alt="">
                            <div class="mt-2">
                            <div class="c-card-title f-21" ><b>Unrivalled Customer Service</b></div>
                            <div class="c-card-title">
                                <div class="text-desc mt-1">IC Markets strives to offer you the best possible customer service and support. Our team has a significant amount of experience within the industry, so they understand what traders want and need. You can trade with confidence knowing that the IC Markets team will always be there to help.  </div>
                            </div></div>
                        </div>
                    </div>
                </div>

                <div class="page-section text-center mt-4">
                    <div class="p-3-xs mt-2 f-21"><b>Have a question or require specialist assistance?</b></div>
                    <div class="p-3-xs mt-1 ">Our dedicated customer service team is here 24/7 to assist you.</div>
                </div>

            </div>

        </div>

        <div class="page-content global-markets-today">
            <div class="page-section">
                <div class="start-trading">Start trading with</div>
                <div class="global-today">a regulated Forex CFD provider today</div>
                <div class="icm-button-wrapper page-header__primary-button">
                    <a id="template_live_registration" target="_blank" class="icm-btn live icm-btn-primary" href="/<%- prefix_by_regulator %>/open-trading-account/live">Open Trading Account</a>
                    <a id="template_demo_registration" target="_blank" class="icm-btn demo" href="/<%- prefix_by_regulator %>/open-trading-account/demo">Try  a free demo</a>
                </div>

            </div>
        </div>
    </article>

</div>
</div>
</article>
</div>

<script>

    $('.glossary-block__expand-button').on('click', function () {
        var $button = $(this).toggleClass('collapsed');
        $(this).parent().find('.panel-collapse').slideToggle();
    });
    $(function () {
        $('a.togglebtn2').on('click', function (e) {
            e.preventDefault();
            $('#myContent2').stop().slideToggle(500);
            if ($(this).is('.read-more')) {
                $(this).toggleClass('read-more', false).toggleClass('read-less', true).text($('.cached-translation.read_less').text())
            } else {
                $(this).toggleClass('read-less', false).toggleClass('read-more', true).text($('.cached-translation.read_more').text())
            }
            return false;
        });
        $('a[href="#form"]').on('click', function (e) {
            e.preventDefault();
            $("html, body").animate({ scrollTop: $(".icm-btn-block").offset().top - 200 }, 1000);
            return false;
        });
    });

</script>