<% setI18nPrefix('pages.forex-trading-tools.advanced-tools') %>
<link rel="stylesheet" href="<%=md5('/css/pages/mt4-advanced-tools.css')%>">
<meta name="description" content="<%- $t('meta', true) %>">
<%- contentFor('title') %>
  <%- $t('title') %>
<%- contentFor('body') %>

    <div class="single-page page-trading-tools-index">
        <article class="page-header">
            <section class="page-header__container">
                <header>
                    <h1 style="padding-bottom:130px;" class="page-header__heading--style"><%-$t('advanced_tools_1')%></h1>
                </header>
            </section>
        </article>
        <article class="page-content-container">
            <div class="page-content">
                <div class="page-section grid-section">
                    <div style="margin-bottom:40px;" class="grid-item gi-1">
                        <h1><%-$t('advanced_tools_2')%></h1>
                        <a id="mt4_advanced_tools_1" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/AlarmManager.pdf"><%-$t('advanced_tools_3')%></a><br/>
                        <a id="mt4_advanced_tools_2" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/CorrelationMatrix.pdf"><%-$t('advanced_tools_5')%></a><br/>
                        <a id="mt4_advanced_tools_3" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/CorrelationTrader.pdf"><%-$t('advanced_tools_6')%></a><br/>
                        <a id="mt4_advanced_tools_4" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/ExcelRTD.pdf"><%-$t('advanced_tools_7')%></a><br/>
                        <a id="mt4_advanced_tools_5" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/MarketManager.pdf"><%-$t('advanced_tools_8')%></a><br/>
                        <a id="mt4_advanced_tools_6" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/MiniTerminal.pdf"><%-$t('advanced_tools_9')%></a><br/>
                        <a id="mt4_advanced_tools_7" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/SentimentTrader.pdf"><%-$t('advanced_tools_10')%></a><br/>
                        <a id="mt4_advanced_tools_8" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/SessionMap.pdf"><%-$t('advanced_tools_11')%></a><br/>
                        <a id="mt4_advanced_tools_9" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/StealthOrders.pdf"><%-$t('advanced_tools_13')%></a><br/>
                        <a id="mt4_advanced_tools_10" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/TickChartTrader.pdf"><%-$t('advanced_tools_4')%></a><br/>
                        <a id="mt4_advanced_tools_11" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/TradeTerminal.pdf"><%-$t('advanced_tools_23')%></a><br/>
                        <br>
                        <h1><%-$t('advanced_tools_14')%></h1>
                        <a id="mt4_advanced_tools_12" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/BarChangerindicator.pdf"><%-$t('advanced_tools_35')%></a><br/>
                        <a id="mt4_advanced_tools_13" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/CandleCountdownindicator.pdf"><%-$t('advanced_tools_15')%></a><br/>
                        <a id="mt4_advanced_tools_14" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/ChartGroupindicator.pdf"><%-$t('advanced_tools_18')%></a><br/>
                        <a id="mt4_advanced_tools_15" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/Chart-in-Chartindicator.pdf"><%-$t('advanced_tools_16')%></a><br/>
                        <a id="mt4_advanced_tools_16" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/Donchianindicator.pdf"><%-$t('advanced_tools_36')%></a><br/>
                        <a id="mt4_advanced_tools_17" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/FreehandDrawingindicator.pdf"><%-$t('advanced_tools_17')%></a><br/>
                        <a id="mt4_advanced_tools_18" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/Gravityindicator.pdf"><%-$t('advanced_tools_37')%></a><br/>
                        <a id="mt4_advanced_tools_19" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/High-lowindicator.pdf"><%-$t('advanced_tools_19')%></a><br/>
                        <a id="mt4_advanced_tools_20" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/Keltnerindicator.pdf"><%-$t('advanced_tools_38')%></a><br/>
                        <a id="mt4_advanced_tools_21" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/LinearRegressionindicator.pdf"><%-$t('advanced_tools_39')%></a><br/>
                        <a id="mt4_advanced_tools_22" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/Magnifierindicator.pdf"><%-$t('advanced_tools_40')%></a><br/>
                        <a id="mt4_advanced_tools_23" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/MiniChartindicator.pdf"><%-$t('advanced_tools_41')%></a><br/>
                        <a id="mt4_advanced_tools_24" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/OrderHistoryindicator.pdf"><%-$t('advanced_tools_20')%></a><br/>
                        <a id="mt4_advanced_tools_25" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/PeriodConverterindicator.pdf"><%-$t('advanced_tools_42')%></a><br/>
                        <a id="mt4_advanced_tools_26" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/Pivotindicator.pdf"><%-$t('advanced_tools_21')%></a><br/>
                        <a id="mt4_advanced_tools_27" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/Renkoindicator.pdf"><%-$t('advanced_tools_22')%></a><br/>
                        <a id="mt4_advanced_tools_28" target="_blank" class="pre-image-item" href="<%- getCDN() %>/uploads/AdvancedTradingTools/SymbolInfoindicator.pdf"><%-$t('advanced_tools_43')%></a><br/>
                    </div>
                    <div class="grid-item gi-2">
                        <div class="sidebar-block">
                            <div class="sidebar-cta-card-container sidebar-top-card random-background rnd-back-1">
                                <div class="bottom-block">
                                    <p class="bottom-block__message"><%-$t('advanced_tools_24')%><br><b><%-$t('advanced_tools_25')%></b></p>
                                    <div class="icm-button-wrapper bottom-block__cta-button">
                                        <a id="mt4_advanced_tools_29" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('advanced_tools_26')%></a>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-card contact-block">
                                <div class="contact-header">
                                    <div class="header-label"><%-$t('advanced_tools_27')%></div>
                                    <div class="header-title"><%-$t('advanced_tools_28')%></div>
                                </div>
                                <div class="contact-pre-imaged chat-img">
                                    <div><%-$t('contact_card_help')%></div>
                                </div>
                                <% if (!fsa && !scb && !fsc && !cima) { %>
                                <div class="contact-phone">
                                    <div><%-$t('contact_card_phone')%></div>
                                </div>
                                <% } %>
                                <div class="contact-pre-imaged email-img">
                                    <% if (asic) {%>
                                        <div><%-$t('contact_card_email_asic')%></div>
                                    <% } else { %>
                                        <div><%-$t('contact_card_email')%></div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content global-markets-today">
                <div class="page-section">
                    <div class="start-trading"><%-$t('advanced_tools_31')%></div>
                    <div class="global-today"><%-$t('advanced_tools_32')%></div>
                    <div class="icm-button-wrapper page-header__primary-button">
                        <a id="mt4_advanced_tools_30" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('advanced_tools_33')%></a>
                        <a id="mt4_advanced_tools_31" class="icm-btn demo" href="<%= localePath('open-trading-account-demo') %>"><%-$t('advanced_tools_34')%></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
