<% setI18nPrefix('pages.forex-trading-tools.virtual-private-server') %>
<link rel="stylesheet" href="<%=md5('/css/pages/virtual-private-server.css')%>">
<meta name="description" content="<%- $t('meta', true) %>">
<%- contentFor('title') %>
  <%- $t('title') %>
<%- contentFor('body') %>

    <div class="single-page virtual-private-server">
        <article class="page-header">
            <section class="page-header__container">
                <header>
                    <h1 class="page-header__heading--style"><%-$t('virtual_private_server_1')%></h1>
                </header>
                <div class="page-header__description"><%-$t('virtual_private_server_2')%></div>
                <div class="icm-button-wrapper page-header__primary-button">
                    <a id="virtual_private_server_1" class="icm-btn icm-btn-primary" href="<%=localePath('open-trading-account-live') %>"><%-$t('virtual_private_server_3')%></a>
                </div>
            </section>
        </article>
        <article class="page-header__menu-container">
          <%- include('./_menu.ejs', { current: 'forex-trading-tools-virtual-private-server'}) %>
        </article>
        <article class="page-content-container">
            <div class="page-content">
                <div class="page-section">
                    <div class="sidebar-cta-card-container sidebar-top-card random-background rnd-back-1">
                        <div class="bottom-block">
                            <p class="bottom-block__message"><%-$t('virtual_private_server_4_1')%> <b>200</b> <%-$t('virtual_private_server_4_2')%><br><b><%-$t('virtual_private_server_4_3')%></b></p>
                            <div class="icm-button-wrapper bottom-block__cta-button">
                                <a id="virtual_private_server_2" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('virtual_private_server_5')%></a>
                            </div>
                        </div>
                    </div>
                    <div class="first-section">
                        <div class="page-first-text"><%-$t('virtual_private_server_6')%> <a id="virtual_private_server_3" class="last-link" href="<%= localePath('forex-trading-tools-trading-servers') %>"><%-$t('virtual_private_server_6_1')%></a>.</div>
                        <% if (countryCode === 'cn') { %>
                            <p>客户单月交易量（按自然月计算；注册邮箱下的所有账户累计；仅计算外汇和贵金属品种）达到50标准手，即有资格申请阿里云VPS费用报销。详情如下：</p>
                            <ul style="list-style: decimal;">
                                <li style="word-break: break-all;">满足条件的客户可以自行到阿里云官网 <a id="virtual_private_server_4" target="_blank" href="https://cn.aliyun.com/product/ecs?spm=5176.8142029.cloudEssentials.1.54216d3eRE1pDf 上购买云服务器。">https://cn.aliyun.com/product/ecs?spm=5176.8142029.cloudEssentials.1.54216d3eRE1pDf</a></li>
                                <li>购买完成后，从阿里云账户后台开具发票，并通过您在IC的注册邮箱，将发票截图、交易账号等信息发送至我们的客服邮箱 support.cn@icmarkets-cs.com</li>
                                <li>我们会尽快处理您的报销请求，并向您的交易账号汇入相应的金额。</li>
                                <li>请注意，每张发票仅能报销一次（如购买的整年云服务器，则每月都需发报销申请邮件，按月摊销结算），每个月报销金额上限为200人民币，超额部分需自理。</li>
                            </ul>
                        <% } else { %>
                            <p><%-$t('virtual_private_server_7')%></p>
                            <p><%-$t('virtual_private_server_7_1')%></p>
                        <% } %>
                    </div>
                </div>
            </div>

            <% if (countryCode === 'cn') { %>
                <div class="page-content order-1">
                    <div class="page-section">
                        <div class="page-section">
                            <div class="card">
                                <div class="img img-cn"></div>
                                <div class="info">
                                    <h1>阿里云 VPS</h1>
                                    <div class="button-container">
                                        <a id="virtual_private_server_5" class="icm-btn icm-btn-primary" target="_blank"  href="https://cn.aliyun.com/product/ecs?spm=5176.8142029.cloudEssentials.1.54216d3eRE1pDf">进入阿里云官网</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div style="display:none!important;" class="page-content order-1">
                    <div class="page-section">
                        <div class="page-section">
                            <div class="card">
                                <div class="img img-1"></div>
                                <div class="info">
                                    <h1><%-$t('virtual_private_server_13')%></h1>
                                    <div class="description"><%-$t('virtual_private_server_14')%></div>
                                    <div class="text"><%-$t('virtual_private_server_15')%></div>
                                    <div class="button-container">
                                        <a id="virtual_private_server_6" class="icm-btn icm-btn-primary" target="_blank"  href="https://secure.icmarkets.com/Vps"><%-$t('virtual_private_server_16')%></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content order-2">
                    <div class="page-section">
                        <div class="page-section">
                            <div class="card">
                                <div class="img img-2"></div>
                                <div class="info">
                                    <h1><%-$t('virtual_private_server_8')%></h1>
                                    <div class="description"><%-$t('virtual_private_server_9')%></div>
                                    <div class="text"><%-$t('virtual_private_server_10')%></div>
                                    <div class="text"><%-$t('virtual_private_server_11')%></div>
                                    <div class="text"><%-$t('virtual_private_server_111')%></div>
                                    <div class="text"><%-$t('virtual_private_server_112')%></div>
                                    <div class="button-container">
                                        <a id="virtual_private_server_7" class="icm-btn icm-btn-primary" target="_blank"  href="https://secure.icmarkets.com/Vps"><%-$t('virtual_private_server_12')%></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content order-3">
                    <div class="page-section">
                        <div class="page-section">
                            <div class="card">
                                <div class="img img-3"></div>
                                <div class="info">
                                    <h1><%-$t('virtual_private_server_17')%></h1>
                                    <div class="text"><%-$t('virtual_private_server_18')%></div>
                                    <div class="button-container">
                                        <a id="virtual_private_server_8" class="icm-btn icm-btn-primary" target="_blank"  href="https://secure.icmarkets.com/Vps"><%-$t('virtual_private_server_19')%></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content order-1">
                    <div class="page-section">
                        <div class="page-section">
                            <div class="card">
                                <div class="img img-4"></div>
                                <div class="info">
                                    <h1><%-$t('virtual_private_server_56')%></h1>
                                    <div class="description"><%-$t('virtual_private_server_59')%></div>
                                    <div class="text"><%-$t('virtual_private_server_57')%></div>
                                    <div class="text"><%-$t('virtual_private_server_58')%></div>
                                    <div class="button-container">
                                        <a id="virtual_private_server_9" class="icm-btn icm-btn-primary" target="_blank"  href="https://secure.icmarkets.com/Vps"><%-$t('virtual_private_server_12')%></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <% } %>

            <div class="page-content global-markets-today">
                <div class="page-section">
                    <div class="start-trading"><%-$t('virtual_private_server_51')%></div>
                    <div class="global-today"><%-$t('virtual_private_server_52')%></div>
                    <div class="icm-button-wrapper page-header__primary-button">
                        <a id="virtual_private_server_10" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('virtual_private_server_54')%></a>
                        <a id="virtual_private_server_11" class="icm-btn demo" href="<%= localePath('open-trading-account-demo') %>"><%-$t('virtual_private_server_55')%></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
