<% setI18nPrefix('pages.partnerships.refer-a-friend') %>
<meta name="description" content="<%- $t('meta', true) %>" />
<link rel="stylesheet" href="/css/pages/refer-a-friend.css">
<%- contentFor('title') %>
  <%- $t('title') %>
<%- contentFor('body') %>
    <div class="single-page refer-a-friend">
        <article class="page-header">
            <section class="page-header__container">
                <header>
                    <h1 class="page-header__heading--style"><%-$t('refer_a_friend_1')%></h1>
                </header>
                <div class="page-header__description"><%-$t('refer_a_friend_2')%></div>
                <div class="icm-button-wrapper page-header__primary-button">
                    <a id="refer_a_friend_a_1" class="icm-btn icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%- $t('refer_a_friend_3') %></a>
                </div>
            </section>
        </article>
        <article class="page-header__menu-container">
          <%- include('./_menu.ejs') %>
        </article>
        <article class="page-content-container">
            <div class="page-content">
                <div class="page-section grid-section">
                    <div class="grid-item gi-1">
                        <article class="trading-hours-block icm-page-subsection-content">
                            <h1><%-$t('refer_a_friend_888')%></h1>
                            <p><%-$t('refer_a_friend_7')%></p>
                        </article>
                        <article class="trading-hours-block icm-page-subsection-content">
                            <h1><%-$t('refer_a_friend_4')%></h1>
                            <p><%-$t('refer_a_friend_5')%></p>
                        </article>
                        <article class="trading-hours-block icm-page-subsection-content">
                            <h1><%-$t('refer_a_friend_6')%></h1>
                            <p><%-$t('refer_a_friend_18')%></p>
                            <div class="pre-image-item"><%-$t('refer_a_friend_19')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_20')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_21')%></div>
                            <div class="brackets"><%-$t('refer_a_friend_22')%></div>
                        </article>
                        <article class="trading-hours-block icm-page-subsection-content">
                            <h1><%-$t('refer_a_friend_23')%></h1>
                            <div class="bold-header"><%-$t('refer_a_friend_24')%></div>
                            <p><%-$t('refer_a_friend_25')%></p>
                            <div class="bold-header"><%-$t('refer_a_friend_26')%></div>
                            <div class="pre-number-item n1"><%-$t('refer_a_friend_27')%>
                                <div class="pre-image-item"><%-$t('refer_a_friend_28')%></div>
                                <div class="pre-image-item"><%-$t('refer_a_friend_29')%></div>
                            </div>
                            <div class="bold-header"><%-$t('refer_a_friend_30')%></div>
                            <div class="pre-number-item n2"><%-$t('refer_a_friend_31')%>
                                <div class="pre-image-item"><%-$t('refer_a_friend_32')%></div>
                                <div class="pre-image-item"><%-$t('refer_a_friend_33')%></div>
                                <div class="pre-image-item"><%-$t('refer_a_friend_34')%></div>
                            </div>
                            <div class="bold-header"><%-$t('refer_a_friend_35')%></div>
                            <div class="pre-number-item n3-1"><%-$t('refer_a_friend_36')%></div>
                            <div class="pre-number-item n3-2"><%-$t('refer_a_friend_37')%></div>
                            <div class="pre-number-item n3-3"><%-$t('refer_a_friend_38')%></div>
                            <div class="bold-header"><%-$t('refer_a_friend_43')%></div>
                            <div class="pre-number-item n4-1"><%-$t('refer_a_friend_44')%>
                                <div class="pre-image-item"><%-$t('refer_a_friend_45')%></div>
                                <div class="pre-image-item"><%-$t('refer_a_friend_46')%></div>
                            </div>
                            <div class="pre-number-item n4-2"><%-$t('refer_a_friend_47')%></div>
                            <div class="pre-number-item n4-3"><%-$t('refer_a_friend_48')%></div>
                            <div class="pre-number-item n4-4"><%-$t('refer_a_friend_49')%></div>
                            <div class="pre-number-item n4-5"><%-$t('refer_a_friend_50')%></div>
                            <div class="bold-header"><%-$t('refer_a_friend_51')%></div>
                            <div class="pre-number-item n5-1"><%-$t('refer_a_friend_52')%></div>
                            <div class="pre-number-item n5-2"><%-$t('refer_a_friend_53')%></div>
                            <div class="pre-number-item n5-3"><%-$t('refer_a_friend_54')%></div>
                            <div class="pre-number-item n5-4"><%-$t('refer_a_friend_55')%></div>
                            <div class="pre-number-item n5-5"><%-$t('refer_a_friend_56')%></div>
                            <div class="pre-number-item n5-6"><%-$t('refer_a_friend_57')%></div>
                            <div class="pre-number-item n5-7"><%-$t('refer_a_friend_58')%></div>
                            <div class="pre-number-item n5-8"><%-$t('refer_a_friend_59')%></div>
                            <div class="pre-number-item n5-9"><%-$t('refer_a_friend_60')%></div>
                            <div class="pre-number-item n5-10"><%-$t('refer_a_friend_61')%></div>
                            <div class="pre-number-item n5-11"><%-$t('refer_a_friend_62')%></div>
                            <div class="pre-number-item n5-12"><%-$t('refer_a_friend_63')%></div>
                            <div class="pre-number-item n5-13"><%-$t('refer_a_friend_64')%></div>
                            <div class="pre-number-item n5-14"><%-$t('refer_a_friend_65')%></div>
                            <div class="pre-number-item n5-15"><%-$t('refer_a_friend_66')%></div>
                            <div class="bold-header"><%-$t('refer_a_friend_67')%></div>
                            <p><b><%-$t('refer_a_friend_68')%></b> <%-$t('refer_a_friend_69')%></p>
                            <p><%-$t('refer_a_friend_70')%></p>
                            <div class="pre-image-item"><%-$t('refer_a_friend_71')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_72')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_73')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_74')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_75')%></div>
                            <p class="offset30"><b><%-$t('refer_a_friend_76')%></b> <%-$t('refer_a_friend_77')%></p>
                            <p><%-$t('refer_a_friend_78')%></p>
                            <p><b><%-$t('refer_a_friend_79')%></b> <%-$t('refer_a_friend_80')%></p>
                            <p><b><%-$t('refer_a_friend_81')%></b> <%-$t('refer_a_friend_82')%></p>
                            <p><b><%-$t('refer_a_friend_83')%></b> <%-$t('refer_a_friend_84')%></p>
                            <p><b><%-$t('refer_a_friend_85')%></b> <%-$t('refer_a_friend_86')%></p>
                            <p><b><%-$t('refer_a_friend_87')%></b> <%-$t('refer_a_friend_88')%></p>
                            <p><%-$t('refer_a_friend_89')%></p>
                            <div class="pre-image-item"><%-$t('refer_a_friend_90')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_91')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_92')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_93')%></div>
                            <div class="pre-image-item"><%-$t('refer_a_friend_94')%></div>
                            <p class="offset30"><b><%-$t('refer_a_friend_95')%></b> <%-$t('refer_a_friend_96')%></p>
                            <p><b><%-$t('refer_a_friend_97')%></b> <%-$t('refer_a_friend_98')%></p>
                            <p><b><%-$t('refer_a_friend_99')%></b> <%-$t('refer_a_friend_100')%> <a id="refer_a_friend_a_2" href="//www.icmarkets.com">www.icmarkets.com</a></p>
                        </article>
                    </div>
                    <div class="grid-item gi-2">
                        <div class="sidebar-block">
                            <div class="sidebar-cta-card-container sidebar-top-card random-background rnd-back-1">
                                <div class="bottom-block">
                                    <p class="bottom-block__message"><%-$t('refer_a_friend_8')%><br><b><%-$t('refer_a_friend_9')%></b></p>
                                    <div class="icm-button-wrapper bottom-block__cta-button">
                                        <a id="refer_a_friend_a_3" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('refer_a_friend_12')%></a>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-card contact-block">
                                <div class="contact-header">
                                    <div class="header-label"><%-$t('refer_a_friend_13')%></div>
                                    <div class="header-title"><%-$t('refer_a_friend_14')%></div>
                                </div>
                                <div class="contact-pre-imaged chat-img">
                                    <div><%-$t('contact_card_help')%></div>
                                </div>
                                <% if (!fsa && !scb && !fsc && !cima) { %>
                                <div class="contact-phone">
                                    <div><%-$t('contact_card_phone')%></div>
                                </div>
                                <% } %>
                                <div class="contact-pre-imaged email-img">
                                    <% if (asic) {%>
                                        <div><%-$t('contact_card_email_asic')%></div>
                                    <% } else { %>
                                        <div><%-$t('contact_card_email')%></div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content global-markets-today">
                <div class="page-section">
                    <div class="start-trading"><%-$t('refer_a_friend_39')%></div>
                    <div class="global-today"><%-$t('refer_a_friend_40')%></div>
                    <div class="icm-button-wrapper page-header__primary-button">
                        <a id="refer_a_friend_a_4" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('refer_a_friend_41')%></a>
                        <a id="refer_a_friend_a_5" class="icm-btn demo" href="<%= localePath('open-trading-account-demo') %>"><%-$t('refer_a_friend_42')%></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
