
<% setI18nPrefix('pages.company.why-ic-markets') %>
<link rel="stylesheet" href="<%=md5('/css/pages/why-icmarkets.css')%>">
<meta name="description" content="<%- $t('meta', true) %>">
<%- contentFor('title') %>
  <%- $t('title') %>
<%- contentFor('body') %>
    <div class="single-page why-icmarkets">
        <article class="page-header">
            <section class="page-header__container">
                <header>
                    <h1 class="page-header__heading--style"><%-$t('why_icmarkets_1')%></h1>
                </header>
                <div class="page-header__description"><%-$t('why_icmarkets_2')%></div>

                    <div class="icm-button-wrapper page-header__primary-button">
                        <a id="why_icmarkets_1" class="icm-btn icm-btn-primary" href="<%=localePath('open-trading-account-live') %>"><%-$t('why_icmarkets_3')%></a>
                    </div>

            </section>
        </article>
        <article class="page-header__menu-container">
            <div class="page-header__menu">
                <div class="menu-item current-page">
                  <a id="why_icmarkets_2" href="<%= localePath('company-why-icmarkets') %>" class="menu-title"><%-$t('why_icmarkets_01')%></a>
                </div>
                <div class="menu-item" >
                  <a id="why_icmarkets_3" href="<%= localePath('trading-pricing-spreads') %>"  class="menu-title"><%-$t('why_icmarkets_02')%></a>
                </div>
                <div class="menu-item" >
                  <a id="why_icmarkets_4" href="<%= localePath('trading-pricing-spreads') %>"  class="menu-title"><%-$t('why_icmarkets_03')%></a>
                </div>
                <div class="menu-item">
                  <a id="why_icmarkets_5" href="<%= localePath('introduction-forex-trading') %>"  class="menu-title"><%-$t('why_icmarkets_04')%></a>
                </div>

                <div class="menu-item menu-switch" ><span class="menu-icon icon-switch"></span></div>
            </div>
        </article>
        <article class="page-content-container ">
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <div class="double-sidebar-block">
                        <% if (!scb) { %>
                        <div class="sidebar-cta-card-container sidebar-top-card random-background rnd-back-1">
                            <div class="bottom-block">
                                <p class="bottom-block__message"><%-$t('why_icmarkets_8')%><br><b><%-$t('why_icmarkets_9')%></b></p>
                                <div class="icm-button-wrapper bottom-block__cta-button">
                                    <a id="why_icmarkets_6" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('why_icmarkets_12')%></a>
                                </div>
                            </div>
                        </div>
                        <div class="contact-card contact-block">
                        <% } else { %>
                        <div class="contact-card contact-block" style="margin-top:0!important;">
                        <% } %>
                            <div class="contact-header">
                                <div class="header-label"><%-$t('why_icmarkets_13')%></div>
                                <div class="header-title"><%-$t('why_icmarkets_14')%></div>
                            </div>
                            <div class="contact-pre-imaged chat-img">
                                <div><%-$t('contact_card_help')%></div>
                            </div>
                            <% if (!fsa && !scb && !fsc && !cima) { %>
                            <div class="contact-phone">
                                <div><%-$t('contact_card_phone')%></div>
                            </div>
                            <% } %>
                            <div class="contact-pre-imaged email-img">
                                <% if (asic) {%>
                                    <div><%-$t('contact_card_email_asic')%></div>
                                <% } else { %>
                                    <div><%-$t('contact_card_email')%></div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="first-section">
                        <div class="page-first-text"><%-$t('why_icmarkets_20')%></div>
                        <h1><%-$t('why_icmarkets_21')%></h1>
                        <p><%-$t('why_icmarkets_22')%> <a id="why_icmarkets_7" class="green-link" href="<%= localePath('trading-pricing-spreads') %>"><%-$t('why_icmarkets_23')%></a> <%-$t('why_icmarkets_24')%></p>
                        <h1><%-$t('why_icmarkets_25')%></h1>
                        <p><%-$t('why_icmarkets_26')%></p>
                        <h1><%-$t('why_icmarkets_27')%></h1>
                        <p><%-$t('why_icmarkets_28')%></p>
                    </div>
                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <div class="grid-2x2">
                        <h1><%-$t('why_icmarkets_29')%></h1>
                        <h1 class="right"><%-$t('why_icmarkets_31')%></h1>
                        <p>
                            <% if (isAPACcountry(countryCode)) { %>
                                <%-$t('why_icmarkets_30_apac')%>
                            <% } else { %>
                                <%-$t('why_icmarkets_30')%>
                            <% } %>
                        </p>
                        <p class="right"><%-$t('why_icmarkets_32')%></p>
                    </div>
                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <h1><%-$t('why_icmarkets_33')%></h1>
                    <p><%-$t('why_icmarkets_34')%></p>
                    <h1><%-$t('why_icmarkets_35')%></h1>
                    <p><%-$t('why_icmarkets_36')%></p>
                    <h1><%-$t('why_icmarkets_37')%></h1>
                    <p><%-$t('why_icmarkets_38')%></p>
                    <h1><%-$t('why_icmarkets_39')%></h1>
                    <p><%-$t('why_icmarkets_40')%></p>
                    <h1><%-$t('why_icmarkets_41')%></h1>
                    <p><%-$t('why_icmarkets_42')%></p>
                </div>
            </div>
            <div class="page-content global-markets-today">
                <div class="page-section">
                    <div class="start-trading"><%-$t('why_icmarkets_4')%></div>
                    <div class="global-today"><%-$t('why_icmarkets_5')%></div>
                    <div class="icm-button-wrapper page-header__primary-button">
                        <a id="why_icmarkets_8" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('why_icmarkets_6')%></a>
                        <a id="why_icmarkets_9" class="icm-btn demo" href="<%= localePath('open-trading-account-demo') %>"><%-$t('why_icmarkets_7')%></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
