<% setI18nPrefix('pages.help-resources.teamviewer') %>
<meta name="description" content="<%- $t('meta', true) %>" />
<link rel="stylesheet" href="<%=md5('/css/pages/teamviewer.css')%>">
<%- contentFor('title') %>
<%- $t('title') %>
<%- contentFor('body') %>
                <div class="single-page page-teamviewer">
                    <article class="page-header">
                        <section class="page-header__container">
                            <header>
                                <h1 class="page-header__heading--style mt-1-5"><%-$t('teamviewer_1_v2')%></h1>
                            </header>
                            <div class="page-header__description"></div>
                            <div class="icm-button-wrapper page-header__primary-button">
                                <a id="teamviewer_1" href="#" class="icm-btn ">   </a>
                            </div>
                        </section>
                    </article>

                    <article class="page-content-container">
                        <div class="page-content bg-dark">
                            <div class="page-section text-center white p3-lg">
                                <div class="text-head-cu mb-0"><%-$t('teamviewer_2_v1')%></div>
                                <p class="p-3-xs mt-2"><%-$t('teamviewer_3_v1')%></p>
                            </div>
                        </div>
                        <div class="page-section d-flex">
                            <div class="d-flex-block-sm mx-5-lg m-3 p3-lg">
                                <div class="col-40 m-05-lg">
                                    <div class="c-card-content flex-csm">
                                        <img class="img-res" src="/assets/img/teamviewer/teamhelp.png"
                                            alt="teamhelp"></img>
                                    </div>
                                </div>

                                <div class="col-60 mt-1-xs">
                                    <div class="c-card-content flex-csm ">
                                        <div class="page-section text-left">
                                            <div class="text-head-cu mb-0"><%-$t('teamviewer_4_v1')%></div>
                                            <div class="d-flex">
                                                <div class="mr-15"> <img class=""
                                                        src="/assets/img/teamviewer/checkmark2.png"
                                                        alt="checklist"></img></div>
                                                <div class="f-400"><%-$t('teamviewer_6_v1')%></div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="mr-15"> <img class=""
                                                        src="/assets/img/teamviewer/checkmark2.png"
                                                        alt="checklist"></img></div>
                                                <div class="f-400"><%-$t('teamviewer_7_v1')%></div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="mr-15"> <img class=""
                                                        src="/assets/img/teamviewer/checkmark2.png"
                                                        alt="checklist"></img></div>
                                                <div class="f-400"><%-$t('teamviewer_8_v1')%></div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="mr-15"> <img class=""
                                                        src="/assets/img/teamviewer/checkmark2.png"
                                                        alt="checklist"></img></div>
                                                <div class="f-400"><%-$t('teamviewer_9_v1')%></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="page-content bg-gray">
                            <div class="section-three">
                                <div class="page-section text-center">
                                    <div class="text-head-cu mb-0"><%-$t('teamviewer_10_v1')%></div>
                                </div>

                                <div class="page-section d-flex-block-md">
                                    <div class="col-33 c-img bg-white">
                                        <div class="wp-left">
                                            <img class="mr-15" src="/assets/img/teamviewer/support1.png" alt=""></img>
                                            <div class="sup"><%-$t('teamviewer_12_v1')%><br>
                                               <a id="teamviewer_2" href="https://www.teamviewer.com/en-us/download/" target="_blank"><%-$t('teamviewer_13_v1')%></a>
                                               <%-$t('teamviewer_13_1_v1')%>
                                            </div>
                                        </div>
                                        <div class="num-step res-xs fxs">1</div>
                                        
                                    </div>
                                    <div class="col-33 c-img bg-light">
                                        <div class="wp-left">
                                            <img class="mr-15" src="/assets/img/teamviewer/support2.png" alt=""></img>
                                            <div class="sup"><%-$t('teamviewer_14_v3')%><br>
                                                <a id="teamviewer_3" href="/<%- prefix_by_regulator %>/company/contact-us" target="_blank"><%-$t('teamviewer_14_1_v3')%></a>
                                                <%-$t('teamviewer_14_2_v3')%>
                                            </div>
                                        </div> 
                                        <div class="num-step gray2 res-xs fxs">2</div>  
                                    </div>
                                    <div class="col-33 c-img bg-dark">
                                        <div class="wp-left">
                                            <img class="mr-15" src="/assets/img/teamviewer/support3.png" alt=""></img>
                                            <div class="sup white"><%-$t('teamviewer_15_v1')%></div>
                                        </div>
                                        <div class="num-step res-xs high fxs dp">3</div>  
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-content ">
                            <div class="section-three">
                                <div class="page-section text-center">
                                    <div class="text-head-cu mb-0"><%-$t('teamviewer_16_v1')%> </div>
                                </div>

                                <div class="page-section d-flex-block-md">
                                    <div class="col-33 c-img bg-white">
                                        <div class="wp-left">       
                                            <div class="c-card-content d-flex-block p-0-2">
                                                <div class="flex-csm"><img class="mr-15 h86" src="/assets/img/teamviewer/provider1.png" alt=""></img></div>
                                                     <div class="c-card-title ">
                                                     <div class="text-margin"><%-$t('teamviewer_18_v1')%></div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>

                                    <div class="col-33 c-img ">
                                        <div class="wp-left">
                                            <div class="c-card-content d-flex-block p-0-2 ">
                                               <div class="flex-csm"> <img class="mr-15" src="/assets/img/teamviewer/provider2.png" alt=""></img></div> 
                                                <div class="c-card-title ">
                                                    <div class="text-margin"><%-$t('teamviewer_19_v1')%></div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col-33 c-img ">
                                        <div class="wp-left">
                                            <div class="c-card-content d-flex-block p-0-2">
                                               <div class="flex-csm"><img class="mr-15" src="/assets/img/teamviewer/provider3.png" alt=""></img></div> 
                                                <div class="c-card-title">
                                                    <div class="text-margin"><%-$t('teamviewer_20_v1')%></div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="page-content global-markets-today">
                            <div class="page-section">
                                <div class="start-trading"><%-$t('teamviewer_21_v1')%></div>
                                <div class="global-today"><%-$t('teamviewer_22_v1')%></div>
                                <div class="icm-button-wrapper page-header__primary-button">
                                    <a id="teamviewer_4" target="_blank" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('teamviewer_23_v1')%></a>
                                    <a id="teamviewer_5" target="_blank" class="icm-btn demo" href="<%= localePath('open-trading-account-demo') %>"><%-$t('teamviewer_24_v1')%></a>
                                </div>
                                
                            </div>
                        </div>
                    </article>

                </div>
                </div>
                </article>
                </div>
             