<% setI18nPrefix('pages.company.contact-us') %>

<div class="section-au">
    <div class="page-section text-left">
        <div class="wrapper ml-15-lg p-1-5">
            <div class="hq one"></div>
            <div class="text-green text-left"><%-$t('contact_us_021')%></div>
            <p class="mb-0"><%-$t('contact_us_022')%></p>
            <div class="b-1"></div>
        </div>
    </div>
    <hr>
    <div class="page-section grid-section">
        <div class="c-card mt-0 b-none h-200 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-text">
                    <div class="mb--5">
                        <img class="" src="/img/contactus/contact-us-gmap.png"></img>
                        <a id="au_contact_details" target="_blank" href="https://www.google.com/maps/dir//Level+4%2F50+Carrington+St,+Sydney+NSW+2000/@-33.866327,151.2043861,17z/data=!4m17!1m7!3m6!1s0x6b12ae40efd39c39:0x41605f20c689add0!2sLevel+4%2F50+Carrington+St,+Sydney+NSW+2000!3b1!8m2!3d-33.866327!4d151.2065748!4m8!1m0!1m5!1m1!1s0x6b12ae40efd39c39:0x41605f20c689add0!2m2!1d151.2065748!2d-33.866327!3e3"><%-$t('contact_us_023')%></a>
                    </div>
                    <div><%-$t('contact_us_024')%></div>
                </div>
                <div class="c-card-extra mt-0"><%-$t('contact_us_025_3b')%></div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-200 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-extra mt-1"><%-$t('contact_us_026')%></div>
                <div class="text-dark mb-1"><%-$t('contact_us_027')%></div>
                <div class="c-card-extra mt-0"><%-$t('contact_us_028')%></div>
                <div class="text-dark mb-1"><%-$t('contact_us_029')%></div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-200 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-title">
                    <div class="c-card-extra mt-1"><%-$t('contact_us_030')%></div>
                </div>
                <div class="c-card-text">
                    <div><%-$t('contact_us_031')%></div>
                    <div><%-$t('contact_us_032')%></div>
                    <div><%-$t('contact_us_033')%></div>
                    <div><%-$t('contact_us_034')%></div>
                    <div><%-$t('contact_us_035')%></div>
                    <div><%-$t('contact_us_036')%></div>
                </div>
            </div>
        </div>
    </div>
</div>
