<% setI18nPrefix('pages.company.contact-us') %>

<div class="section-bs">
    <div class="page-section text-left">
        <div class="wrapper ml-15-lg p-1-5">
            <div class="hq three"></div>
            <div class="text-green text-left"><%-$t('contact_us_061')%></div>
            <p class="mb-0"><%-$t('contact_us_062_2')%></p>
            <div class="b-1"></div>
        </div>
    </div>
    <hr>
    <div class="page-section grid-section">
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-text">
                    <div class="mb--5">
                        <img class="" src="/img/contactus/contact-us-gmap.png"></img>
                        <a id="bs_contact_details" target="_blank" href="https://www.google.com/maps/place/Western+Rd,+Nassau,+Bahamas/@25.035854,-77.5126447,1047m/data=!3m2!1e3!4b1!4m5!3m4!1s0x892f66d380475ac9:0xa2e975a0639143e5!8m2!3d25.0358492!4d-77.510456"><%-$t('contact_us_063')%></a></div>
                    <div><%-$t('contact_us_064')%></div>
                </div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-extra mt-1"><%-$t('contact_us_040')%></div>
                <div class="text-dark mb-1"><%-$t('contact_us_004_4')%></div>
                <div class="c-card-extra mt-1"><%-$t('contact_us_065')%></div>
                <div class=" mb-1">
                    <div><%-$t('contact_us_066')%></div>
                    <div><%-$t('contact_us_067')%></div>
                    <div><%-$t('contact_us_068')%></div>
                    <div><%-$t('contact_us_069')%></div>
                </div>
                <div class="c-card-extra mt-0"><%-$t('contact_us_070_3')%></div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-title">
                    <div class="c-card-extra mt-1"><%-$t('contact_us_071')%></div>
                </div>
                <div class="c-card-text">
                    <div><%-$t('contact_us_072')%></div>
                    <div><%-$t('contact_us_073')%></div>
                    <div><%-$t('contact_us_074')%></div>
                    <div><%-$t('contact_us_075')%></div>
                </div>
            </div>
        </div>
    </div>
</div>
