<% setI18nPrefix('pages.company.contact-us') %>

<div class="section-eu">
    <div class="page-section text-left">
        <div class="wrapper ml-15-lg p-1-5 xs">
            <div class="hq two"></div>
            <div class="text-green text-left"><%-$t('contact_us_037')%></div>
            <p class="mb-0"><%-$t('contact_us_61')%></p>
            <div class="b-1"></div>
        </div>
    </div>
    <hr>
    <div class="page-section grid-section">
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-text">
                    <div class="mb--5">
                        <img class="" src="/img/contactus/contact-us-gmap.png"></img>
                        <a id="eu_contact_details" target="_blank" href="https://www.google.com/maps/place/The+Maritime+Center,+Selefkidon+141,+Limassol+3045,+Cyprus/@34.6606069,33.0172071,17z/data=!3m1!4b1!4m8!1m2!2m1!1s41+Omonoias+Avenue,+The+Maritime+Centre+3045+Limassol,+Cyprus!3m4!1s0x14e732425a171de9:0xcb460519df27ae4d!8m2!3d34.6608618!4d33.0192751"><%-$t('contact_us_038')%></a></div>
                    <div><%-$t('contact_us_039')%></div>
                </div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-extra mt-1"><%-$t('contact_us_040')%></div>
                <div class="text-dark mb-1"><%-$t('contact_us_041')%></div>
                <div class="c-card-extra mt-0"><%-$t('contact_us_042_3b')%></div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-title">
                    <div class="c-card-extra mt-1"><%-$t('contact_us_043')%></div>
                </div>
                <div class="c-card-text">
                    <div><%-$t('contact_us_044')%></div>
                    <div><%-$t('contact_us_045')%></div>
                    <div><%-$t('contact_us_044_1')%></div>
                    <div><%-$t('contact_us_045_1')%></div>
                </div>
            </div>
        </div>
    </div>
</div>
