<% setI18nPrefix('pages.company.contact-us') %>

<div class="section-sc">
    <div class="page-section text-left">
        <div class="wrapper ml-15-lg p-1-5">
            <div class="hq three"></div>
            <div class="text-green text-left"><%-$t('contact_us_046')%></div>
            <p class="mb-0"><%-$t('contact_us_047_2')%></p>
            <div class="b-1"></div>
        </div>
    </div>
    <hr>
    <div class="page-section grid-section">
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-text">
                    <div class="mb--5">
                        <img class="" src="/img/contactus/contact-us-gmap.png"></img>
                        <a id="sc_contact_details_googlemap" target="_blank" href="https://www.google.com/maps/dir/-33.8558259,151.1985993/Eden+Plaza,+Seychelles/@-15.2072761,64.4587397,3z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x22e029e999e40b1b:0x8e7028f41f6eb17f!2m2!1d55.4760666!2d-4.6407328"><%-$t('contact_us_048')%></a></div>
                    <div><%-$t('contact_us_049')%></div>
                </div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-extra mt-1"><%-$t('contact_us_040')%></div>
                <div class="text-dark mb-1"><%-$t('contact_us_004_3')%></div>
                <div class="c-card-extra mt-1"><%-$t('contact_us_050')%></div>
                <div class=" mb-1">
                    <div><%-$t('contact_us_051')%></div>
                    <div><%-$t('contact_us_052')%></div>
                    <div><%-$t('contact_us_053')%></div>
                    <div><%-$t('contact_us_054')%></div>
                </div>
                <div class="c-card-extra mt-0"><%-$t('contact_us_055_3')%></div>
            </div>
        </div>
        <div class="c-card mt-0 b-none h-100 w-100">
            <div class="c-card-content p-3-xs text-left">
                <div class="c-card-title">
                    <div class="c-card-extra mt-1"><%-$t('contact_us_056')%></div>
                </div>
                <div class="c-card-text">
                    <div><%-$t('contact_us_057')%></div>
                    <div><%-$t('contact_us_058')%></div>
                    <div><%-$t('contact_us_059')%></div>
                    <div><%-$t('contact_us_060')%></div>
                </div>
            </div>
        </div>
    </div>
</div>
