<% setI18nPrefix('components.toll-free-numbers') %>
<div class="tf-number tf-au"><b><%- $t('tf-au') %></b></div>
<div class="tf-number tf-gb"><b><%- $t('tf-gb') %></b></div>
<div class="tf-number tf-th"><b><%- $t('tf-th') %></b></div>
<div class="tf-number tf-id"><b><%- $t('tf-id') %></b></div>
<div class="tf-number tf-de"><b><%- $t('tf-de') %></b></div>
<div class="tf-number tf-es"><b><%- $t('tf-es') %></b></div>
<div class="tf-number tf-br"><b><%- $t('tf-br') %></b></div>
<div class="tf-number tf-my"><b><%- $t('tf-my') %></b></div>
<div class="tf-number tf-za"><b><%- $t('tf-za') %></b></div>
<div class="tf-number tf-pl"><b><%- $t('tf-pl') %></b></div>
<div class="tf-number tf-cy"><b><%- $t('tf-cy') %></b></div>
<% prevI18nPrefix() %>
