<% setI18nPrefix('pages.forex-trading-platform-metatrader.apple-mac') %>
<meta name="description" content="<%- $t('meta', true) %>" />
<link rel="stylesheet" href="<%=md5('/css/pages/metatrader-mac.css')%>">
<%- contentFor('title') %>
  <%- $t('title') %>
<%- contentFor('body') %>
    <div class="single-page page-meta-trader-macos">
        <article class="page-header">
            <section class="page-header__container">
                <header>
                    <h1 class="page-header__heading--style"><%-$t('mt_macos_page_1')%></h1>
                </header>
                <div class="page-header__description"><%-$t('mt_macos_page_2')%></div>
                <div class="icm-button-wrapper page-header__primary-button">
                    <a id="apple_mac_clientArea" class="icm-btn icm-btn-primary" href="<%= clientAreaPath() %>" target="_blank"><%- $t('mt_macos_page_3') %></a>
                </div>
            </section>
        </article>
        <article class="page-header__menu-container">
            <%- include('./_menu.ejs', { current: 'forex-trading-platform-metatrader-apple-mac' }) %>
        </article>
        <article class="page-content-container">
            <div class="page-content">
                <div class="page-section">
                    <div class="market-facts-card">
                        <div class="facts-header">
                            <div class="header-label"><%-$t('mt_macos_page_4')%></div>
                            <div class="header-title"><%-$t('mt_macos_page_5')%></div>
                        </div>
                        <div class="facts-items">
                            <div class="facts-item"><%-$t('mt_macos_page_6')%></div>
                            <div class="facts-item"><%-$t('mt_macos_page_7')%></div>
                            <div class="facts-item"><%-$t('mt_macos_page_8')%></div>
                            <div class="facts-item"><%-$t('mt_macos_page_9')%></div>
                            <div class="facts-item">
                                <% if (isAPACcountry(countryCode)) { %>
                                <%-$t('mt_macos_page_10_apac')%>
                                <% } else { %>
                                <%-$t('mt_macos_page_10')%>
                                <% } %>                                
                            </div>
                            <div class="facts-item"><%-$t('mt_macos_page_11')%></div>
                        </div>
                        <div class="action-buttons-container">
                            <a id="apple_mac_2" class="action-button icm-btn icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('mt_macos_page_12')%></a>
                        </div>
                    </div>
                    <div class="first-section">
                        <div class="page-first-image"></div>
                    </div>
                </div>
            </div>
            <div class="page-content highlighted-content">
                <div class="page-section">
                    <p><%-$t('mt_macos_page_13')%></p>
                </div>
            </div>
            <div class="page-content">
                <div style="position:relative;" class="page-section">
                    <div class="floated-block">
                        <h1><%-$t('mt_macos_page_16')%></h1>
                        <p><%-$t('mt_macos_page_17')%></p>
                    </div>
                    <h1 style="font-weight:900;"><%-$t('mt_macos_page_18')%></h1>
                    <h1><%-$t('mt_macos_page_19')%></h1>
                    <div class="pre-image-item"><%-$t('mt_macos_page_19_1')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_19_2')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_19_3')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_19_4')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_19_5')%></div>
                </div>
                <div style="margin-top:60px;" class="page-section">
                    <h1><%-$t('mt_macos_page_20')%></h1>
                    <div class="pre-image-item"><%-$t('mt_macos_page_20_1')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_20_2')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_20_3')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_20_4')%></div>
                    <div class="pre-image-item"><%-$t('mt_macos_page_20_5')%></div>
                </div>
            </div>
            <div class="page-content" style="padding-top:0px;">
                <div class="page-section">
                    <h1><%-$t('mt_macos_page_21')%></h1>
                    <section>
                        <div class="icm-paragraph__desc">
                            <div class="question-answer-block">
                                <div class="qa-item__question collapsed" type="button" data-toggle="collapse"
                                     data-target="#forex-qa1">
                                    <%- $t('platforminstallationinstructions') %>
                                </div>
                                <div class="collapse qa-item__answer" id="forex-qa1">
                                  <div class="answer-block">
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">1.</div>
                                          <div class="step-block__detail">
                                              <%- $t('downloadthedmgfileandopenit')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">2.</div>
                                          <div class="step-block__detail">
                                              <%- $t('onceopeneddragtheICMarketsMT4forAppleMac')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">3.</div>
                                          <div class="step-block__detail">
                                              <%- $t('oncedraggedintotheapplicationsfolder')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">4.</div>
                                          <div class="step-block__detail">
                                              <%- $t('loginusingyourliveordemoaccountlogindetails')%>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </div>

                            <div class="question-answer-block">
                                <div class="qa-item__question collapsed" type="button" data-toggle="collapse"
                                     data-target="#forex-qa2">
                                    <%- $t('installingyourexpertadvisors') %>
                                </div>
                                <div class="collapse qa-item__answer" id="forex-qa2">
                                  <div class="answer-block">
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">1.</div>
                                          <div class="step-block__detail">
                                              <%- $t('downloadandsaveyourExpertAdvisor')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">2.</div>
                                          <div class="step-block__detail">
                                              <%- $t('selectfinder')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">3.</div>
                                          <div class="step-block__detail">
                                              <%- $t('selectapplications')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">4.</div>
                                          <div class="step-block__detail">
                                              <%- $t('rightclickonshowpackagedetails')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">5.</div>
                                          <div class="step-block__detail">
                                              <%- $t('selectdrive_cthenprogramfiles')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">6.</div>
                                          <div class="step-block__detail">
                                              <%- $t('copyyourex4andmq4filesinto')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">7.</div>
                                          <div class="step-block__detail">
                                              <%- $t('oepnicmarketsMT4forapplemac')%>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>


                            <div class="question-answer-block">
                                <div class="qa-item__question collapsed" type="button" data-toggle="collapse"
                                     data-target="#forex-qa3">
                                    <%- $t('installingyourindicators') %>
                                </div>
                                <div class="collapse qa-item__answer" id="forex-qa3">
                                  <div class="answer-block">
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">1.</div>
                                          <div class="step-block__detail">
                                              <%- $t('downloadandsaveyourindicators')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">2.</div>
                                          <div class="step-block__detail">
                                              <%- $t('selectfinder')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">3.</div>
                                          <div class="step-block__detail">
                                              <%- $t('selectapplications')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">4.</div>
                                          <div class="step-block__detail">
                                              <%- $t('rightclickonshowpackagedetails')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">5.</div>
                                          <div class="step-block__detail">
                                              <%- $t('selectdrive_cthenprogramfiles')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">6.</div>
                                          <div class="step-block__detail">
                                              <%- $t('copyyourex4andmq4filesinto')%>
                                          </div>
                                      </div>
                                      <div class="step-block step-block--style">
                                          <div class="step-block__number">7.</div>
                                          <div class="step-block__detail">
                                              <%- $t('openyourICMarketsMT4forAppleMacInstallationandyouwill')%>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="page-content global-markets-today">
                <div class="page-section">
                    <div class="start-trading"><%-$t('mt_macos_page_22')%></div>
                    <div class="global-today"><%-$t('mt_macos_page_23')%></div>
                    <div class="icm-button-wrapper page-header__primary-button">
                        <a id="apple_mac_3" class="icm-btn live icm-btn-primary" href="<%= localePath('open-trading-account-live') %>"><%-$t('mt_macos_page_24')%></a>
                        <a id="apple_mac_4" class="icm-btn demo" href="<%= localePath('open-trading-account-demo') %>"><%-$t('mt_macos_page_25')%></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
